<div class="wrapper">
  <div class="sidebar" data-background-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>

  <div class="main-panel">
    <navbar-cmp></navbar-cmp>

    <div class="card">
      <div class="header">
        <h2>Flight Search</h2>
      </div>
      <div class="content">
        <form>
          <div class="form-group">
            <label>From</label>
            <input class="form-control" name="from" [(ngModel)]="from" type="text" />
          </div>
          <div class="form-group">
            <label>To</label>
            <input class="form-control" name="to" [(ngModel)]="to" type="text" />
          </div>

          <div class="form-group">
            <button class="btn btn-default" (click)="search()">Search</button>
          </div>
        </form>
      </div>
    </div>

    <ng-container *ngIf="!flights.length">
      <div class="card">
        <div class="content">
          <div>No flights available</div>
        </div>
      </div>
    </ng-container>

    <div class="grid">
      <div class="card col-xs-4 px-2" *ngFor="let flight of flights">
        <div class="content">
          <div>From: {{ flight.from }}</div>
          <div>To: {{ flight.to }}</div>
          <div>{{ flight.date | date: 'dd.MM.yyyy HH:mm' }}</div>
          <button class="btn btn-default" (click)="select(flight)">Select</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="content">
      <div>Selected Flight</div>
      <div>{{ selectedFlight | json }}</div>
    </div>
  </div>
</div>
