<div class="card">
  <div class="header">
    <h2>Flight Search</h2>
  </div>
  <div class="content">
    <form>
      <div class="form-group">
        <label>From</label>
        <input class="form-control" name="from" [(ngModel)]="from" type="text" />
      </div>
      <div class="form-group">
        <label>To</label>
        <input class="form-control" name="to" [(ngModel)]="to" type="text" />
      </div>

      <div class="form-group">
        <button class="btn btn-default" (click)="search()">Search</button>
      </div>
    </form>
  </div>
</div>

<ng-container *ngIf="!flights.length">
  <div class="card">
    <div class="content">
      <div>No flights available</div>
    </div>
  </div>
</ng-container>

<div class="row">
  <div class="col-xs-4 px-2" *ngFor="let flight of flights$ | async">
    <app-flight-card
      [selected]="basket[flight.id]"
      [flight]="flight"
      (selectedChange)="onSelectedChange(flight.id, $event)"
    ></app-flight-card>
  </div>
</div>

<div class="card">
  <div class="content">
    <div>Selected Flights</div>
    <div>{{ basket | json }}</div>
  </div>
</div>
